AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=auth
AUTH_DB_HOST_PORT=5434

ADMIN_BOOTSTRAP_ENABLED=true
ADMIN_BOOTSTRAP_USERNAME=admin
ADMIN_BOOTSTRAP_PASSWORD=admin12345

JWT_ISSUER=http://localhost:8081
JWT_KEY_ID=bidmart-auth-local-key-1
JWT_ACCESS_TOKEN_TTL_MINUTES=15
AUTH_ACCESS_TTL_MINUTES=15

GATEWAY_SECRET=local-dev-gateway-secret

# Optional.
# Untuk local development, boleh dikosongkan karena Auth Service bisa generate development RSA key.
JWT_PRIVATE_KEY_BASE64=
JWT_PUBLIC_KEY_BASE64=
